# --- Godot ---
# Carpetas de cache del editor
.import/
.export/

# Archivos de configuración locales
export_presets.cfg
.godot/

# Archivos generados por el editor (opcional)
*.translation
*.import
*.tmp

# --- Mono / C# ---
# Compilación
/bin/
/obj/

# Archivos de dependencias de usuario
*.user
*.userprefs
*.suo

# Archivos de IDEs
.vs/
.idea/
*.csproj.user

# --- Sistema operativo ---
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Linux
*~
